<!Doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home - Gourmet's Grimoire</title>
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='search.js') }}"></script>
</head>
<body class="home-background">

<header class="site-header">
	<h1>Gourmet's Grimoire: Home</h1>
	<h1>Welcome {{user.userid}}!!</h1>
</header>

<nav>
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/myRecipes">My Recipes</a></li>
		<li><a href="/favoriteRecipes">Favorite Recipes</a></li>
		<li><a href="/allRecipes">All Recipes</a></li>
		<li><a href="/addRecipe">Create New Recipe!</a></li>
		<li><a href="/cart">Shopping Cart</a></li>
		<li><a href="/userSettings">User Settings</a></li>
		<li><a href="/logout">Log Out</a></li>
	</ul>
</nav>

<main id="home-container">
	<section class="search-section">
		<form method="post" action="/search_results" class="search-form">
			<label for="searchInput">Search Recipes by Ingredients:</label>
			<input type="text" id="searchInput" name="searchInput" placeholder="Type ingredient..." autocomplete="on">
			<button type="submit" name="submit">Search</button>
		</form>
	</section>
</main>

</body>
</html>
